[submodule "src/third_party/odin-binding-generator"]
	path = src/third_party/odin-binding-generator
	url = https://github.com/Breush/odin-binding-generator.git
[submodule "src/third_party/odin-imgui"]
	path = src/third_party/odin-imgui
	url = https://gitlab.com/L-4/odin-imgui
